.ChatBubble {
  position: fixed;
  border-radius: 50%;
  background-color: black;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  .ChatBubbleImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .ChatBubbleClose {
    font-size: 25px;
    background: transparent;
    color: white;
  }

  .ChatBubbleChatbox {
    position: absolute;
    bottom: 50px;
    right: 50px;
  }
}
