.ChatBubble {
  position: fixed;
  border-radius: 50%;
  background-color: black;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 100;
}
