.FounderInfo {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 60%;

  .founderImage {
    .founderImg {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .founderDetails {
    p {
      font-size: 22px;
      color: lightgray;
      text-align: center;
      line-height: 30px;
    }
  }

  .founderSignature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    h6 {
      font-size: 16px;
    }
  }
}
