.StackBucket {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 50% / 20%; // Simulate the top of a cylinder
  position: relative;
  overflow: hidden; // Ensure objects stay within the bucket
  margin: 100px auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

  h3 {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
  }

  p {
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    background: transparent;
    color: lightgray;
    font-weight: bold;
  }
}
