.StackBucketWrap {
  .stackHead {
    text-align: center;
    .word {
      display: inline-block;
      margin: 0 10px;
      font-size: 120px;
      font-weight: bold;

      &.filled {
        color: black;
      }

      &.bordered {
        color: transparent;
        -webkit-text-stroke: 1px black; /* Border style for the text */
      }
    }
  }

  .StackBucket {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50% / 20%; // Simulate the top of a cylinder
    position: relative;
    overflow: hidden; // Ensure objects stay within the bucket
    margin: 100px auto;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

    p {
      font-size: 18px;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      background: transparent;
      color: lightgray;
      font-weight: bold;
    }
  }
}
