.StackBucketWrap {
  position: relative;
  height: 100vh; /* Ensures the scroll container height is full screen */

  .stackHead {
    text-align: center;

    .word {
      display: inline-block;
      margin: 0 10px;
      font-size: 120px;
      font-weight: bold;

      &.filled {
        color: black;
      }

      &.bordered {
        color: transparent;
        -webkit-text-stroke: 1px black; /* Border style for the text */
      }
    }
  }

  .stackImages {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .stackImg {
      height: auto;
      object-fit: contain;
      width: 150px;
    }
  }

  .StackBucket {
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 50% / 20%; /* Simulate the top of a cylinder */
    position: relative;
    overflow: hidden; /* Ensure objects stay within the bucket */
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 100px;

    p {
      font-size: 18px;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      background: transparent;
      color: lightgray;
      font-weight: bold;
    }
  }

  /* Animation transitions for visibility */
  .stackImages,
  .StackBucket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
  }

  .visible {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  .hidden {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}
