.StackBucket {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid black;
  background: #fff;
  position: relative;
  overflow: hidden; // Ensure objects stay within the bucket
  margin: 100px auto;
}
