.chatbotVideo {
  border: none;
  outline: none;
  width: 100%;
  height: 102%;
  object-fit: cover;
  border-radius: 20px; /* Match parent container's border radius */
  display: block; /* Remove any default spacing */
  background: transparent; /* Match background color */

  @media (max-width: 600px) {
    width: 100%;
    object-fit: contain;
  }
}
