.Services {
  width: 90%;
  margin: 200px auto 100px auto;

  .ServicesTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h2 {
      font-size: 40px;
      text-align: center;

      @media (max-width: 600px) {
        font-size: 30px;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
      line-height: 30px;
      color: #6c757d;
    }
  }

  .ServicesGrid {
    margin-top: 60px;

    .ServicesGridOne {
      display: flex;
      justify-content: center;
      gap: 50px;

      @media (max-width: 820px) {
        flex-direction: column;
      }

      .ServicesGridItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        border: 2px solid #e9ecef;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 0px -4px 5px -3px rgba(0, 0, 0, 0.75);

        &:nth-child(2) {
          .ServicesGridItemIcons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-direction: column;

            .ServicesGridIcon {
              object-fit: contain;
              height: auto;
              width: 100px;

              &:nth-child(2) {
                border: 1px solid gray;
                border-radius: 10px;
                padding: 10px 20px;
              }

              &:last-child {
                width: 150px;
                // margin-top: 20px;
              }
            }
          }
        }

        .ServicesGridItemTitle {
          display: flex;
          flex-direction: column;
          gap: 10px;
          justify-content: center;

          h3 {
            font-size: 25px;
            color: rgb(52, 52, 52);
            font-weight: normal;
          }

          p {
            font-size: 15px;
            color: #6c757d;
          }

          .ServicesGridIcon {
            font-size: 30px;
          }
        }

        .ServicesGridItemIcons {
          .serviceGridWebImg {
            height: auto;
            object-fit: contain;
            width: 500px;
          }
        }
      }
    }

    .ServicesGridTwo {
      .ServicesGridItem {
        width: 78%;
        border: 2px solid #e9ecef;
        border-radius: 20px;
        padding: 15px;
        box-shadow: 0px -4px 5px -3px rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: space-between;
        margin: 50px auto;

        @media (max-width: 600px) {
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 50px;
        }

        @media (max-width: 1030px) {
          width: 100%;
        }

        .ServicesGridItemTitle {
          display: flex;
          flex-direction: column;
          gap: 30px;
          justify-content: center;

          h3 {
            font-size: 25px;
            color: rgb(52, 52, 52);
            font-weight: normal;
          }

          p {
            font-size: 15px;
            color: #6c757d;
          }

          .ServicesGridIcon {
            font-size: 30px;
          }

          button {
            width: 50%;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            background-color: black;
            color: white;
            font-size: 17px;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: center;
            transition: all 0.2s ease-in;

            .demoSparkleService {
              background-color: transparent;
              font-size: 17px;
            }

            &:hover {
              background-color: white;
              color: black;

              .demoSparkleService {
                color: black;
              }
            }
          }
        }

        .ServicesGridItemIcons {
          .ServicesGridIcon {
            object-fit: contain;
            height: auto;
            width: 400px;
          }
        }
      }
    }

    .ServicesGridThree {
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      max-width: 1200px;
      margin: 100px auto;

      .gridLeft {
        .gridItem {
          background: white;
          border-radius: 12px;
          height: 100%;
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

          .content {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            flex-direction: column;

            .icon {
              font-size: 24px;
              margin-bottom: 15px;
            }

            h3 {
              font-size: 24px;
              margin-bottom: 10px;
              font-weight: 500;
            }

            p {
              color: #666;
              line-height: 1.5;
            }

            .featureImage {
              width: 250px;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }

      .gridRight {
        display: grid;
        gap: 30px;

        .gridItem {
          background: white;
          border-radius: 12px;
          box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

          .content {
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
              font-size: 24px;
              margin-bottom: 15px;
            }

            h3 {
              font-size: 24px;
              margin-bottom: 10px;
              font-weight: 500;
            }

            p {
              color: #666;
              line-height: 1.5;
            }

            .featureImage {
              width: 150px;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;

        .gridLeft,
        .gridRight {
          .gridItem .content {
            flex-direction: column;
            text-align: center;
            gap: 20px;
          }
        }
      }
    }
  }
}
