.Showcase {
  margin: 0 auto;

  .ShowcaseTitle {
    h2 {
      text-align: center;
      font-size: 40px;

      span {
        background-color: black;
        color: white;
      }
    }
  }

  .ShowcaseCards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;

    .ShowcaseCard {
      width: 600px;
      height: auto;
      object-fit: contain;
      border: none;
      outline: none;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
