.titleContainer {
  width: 100%;
  background-color: white;

  h2 {
    text-align: center;
    font-size: 40px;

    span {
      background-color: black;
      color: white;
      padding: 0 10px;
    }
  }
}

.showcaseContainer {
  margin-top: 400px; // Space for fixed title

  .cardWrapper {
    min-height: 120svh;
    position: relative;

    .ShowcaseCards {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      height: 600px;
      perspective: 1000px;

      .cardContainer {
        position: absolute;
        width: 700px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
        opacity: 0;
        pointer-events: none;

        &:first-child {
          opacity: 1;
          pointer-events: auto;
        }

        &:nth-child(2) {
          margin-top: 150px;
        }

        .ShowcaseCard {
          width: 700px;
          height: auto;
          object-fit: contain;
          border: none;
          outline: none;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px;
          cursor: pointer;
          transition: transform 0.1s ease-out;
          transform-style: preserve-3d;
          will-change: transform;
        }
      }
    }
  }
}
