.Showcase {
  .titleContainer {
    width: 100%;
    background-color: white;

    h2 {
      text-align: center;
      font-size: 40px;

      span {
        background-color: black;
        color: white;
        padding: 0 10px;
      }
    }
  }

  .showcaseContainer {
    margin-top: 80px;

    .ShowcaseCards {
      display: flex;
      flex-direction: column;
      gap: 150px;
      align-items: center;
      justify-content: center;

      .cardContainer {
        width: 700px;

        .ShowcaseCard {
          width: 700px;
          height: auto;
          object-fit: contain;
          border: none;
          outline: none;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
          border-radius: 10px;
          cursor: pointer;
          transition: transform 0.1s ease-out;
          transform-style: preserve-3d;
          will-change: transform;
        }
      }
    }
  }
}
