.Hero {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  .heroGlassSlots {
    background: linear-gradient(
      135deg,
      rgba(38, 46, 86, 0.35) 0%,
      rgba(52, 67, 138, 0.15) 100%
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 12px 30px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
    cursor: pointer;

    p {
      background: transparent;
      font-size: 16px;
      margin: 0;
      color: black;

      span {
        background: transparent;
        font-weight: 600;
        color: rgb(131, 127, 127);
      }
    }
  }

  .HeroTitle {
    h2 {
      font-size: 50px;
      text-align: center;

      @media (max-width: 600px) {
        font-size: 30px;
      }

      span {
        background-color: black;
        color: white;
        margin-right: 5px;
        padding-left: 4px;
      }
    }
  }

  .HeroDesc {
    p {
      color: gray;
      font-size: 20px;
      text-align: center;
    }
  }

  .HeroBtn {
    margin-bottom: 50px;

    button {
      background-color: black;
      padding: 20px 40px;
      color: white;
      border-radius: 30px;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: bold;
      transition: all 0.2s ease-in-out;

      .HeroBtnIcon {
        background: transparent;
      }

      &:hover {
        background-color: white;
        color: black;

        .HeroBtnIcon {
          color: black;
        }
      }
    }
  }
}
