.Navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  border-radius: 40px;
  background-color: black;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 10;

  .userBoxWrapper {
    position: absolute;
    top: 60px;
    right: 0;
    background: transparent;
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 1030px) {
    width: 80%;
  }

  .navLogo {
    background: transparent;

    .navLogoImg {
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .authBtn {
    background: transparent;

    .navLogoImg {
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    button {
      background-color: white;
      border-radius: 20px;
      padding: 10px 30px;
      outline: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

      &:hover {
        background-color: #f0f0f0;
      }

      .signInArrow {
        background: transparent;
      }

      span {
        font-size: 16px;
        color: black;
        background: transparent;
      }
    }
  }
}
