.Footer {
  background-color: black;
  border-radius: 40px;
  padding: 60px 100px;
  display: flex;
  justify-content: space-between;
  min-height: 600px;
  align-items: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  margin-top: 200px;

  .footerLeft {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;

    h3 {
      background: transparent;
      color: white;
      font-size: 25px;
    }

    h2 {
      font-size: 40px;
      background: transparent;
      color: white;

      span {
        background-color: white;
        color: black;
        padding: 5px;
      }
    }

    p {
      background: transparent;
      font-size: 20px;
      color: gray;
    }

    button {
      width: 40%;
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;
      background-color: black;
      color: white;
      border: 1px solid white;

      .FooterBtnIcon {
        background: transparent;

        &:hover {
          color: white;
        }
      }
    }
  }

  .footerRight {
    background: transparent;

    .arkaImgFoot {
      object-fit: contain;
      height: auto;
      width: 150px;
      border-radius: 20px;
    }
  }
}
