.UserBox {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

  p {
    margin-top: 5px;
  }

  .userBoxbtn {
    display: flex;
    justify-content: center;

    button {
      width: 60%;
      margin-top: 30px;
      padding: 5px;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      border: 2px solid black;
      background-color: white;
      color: black;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}
