.box {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 50%;

  h3 {
    font-size: 18px;
    color: #333;
    background-color: transparent;
  }

  p {
    font-size: 14px;
    color: #666;
    background-color: transparent;
  }
}

.notAvailableMessage {
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  font-size: 14px;
  text-align: center;
}
