.Chatbot {
  border: none;
  outline: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px;
  height: 500px;
  width: 350px;
  background-color: #ffffff;
  position: relative;

  .chatbotBox {
    height: 80%;
    overflow-y: auto; /* Independent scrolling */
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;

    .userMessage {
      text-align: right;
      color: #007bff;
      margin-bottom: 10px;
    }

    .aiMessage {
      text-align: left;
      color: #333;
      margin-bottom: 10px;
    }
  }

  .chatbotInput {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    form {
      display: flex;
      width: 100%;

      input {
        flex-grow: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
      }

      button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        outline: none;

        &:disabled {
          background-color: #cccccc;
          cursor: not-allowed;
        }
      }
    }
  }
}
