.HookIntro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;

  .HookIntroTitle {
    h3 {
      font-size: 35px;

      span {
        // background-color: black;
        color: black;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
      }
    }

    p {
      margin-top: 20px;
      color: gray;
      font-size: 20px;
    }
  }

  .HookIntroVideo {
    border-radius: 10px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .HookIntroBtn {
    button {
      font-size: 20px;
      border-radius: 10px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: bold;

      &:hover {
        background-color: black;
        color: white;
      }

      .HookIntroBtnIcon {
        background: transparent;

        &:hover {
          color: white;
        }
      }
    }
  }
}
