.Stack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 200px 0;

  @media (max-width: 1030px) {
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  .stackImg {
    height: auto;
    object-fit: contain;
    width: 120px;

    @media (max-width: 600px) {
      width: 100px;
    }
  }
}
